@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  /*outline: 1px solid red;  /* Visar ramar för alla element */
}

:root {
  --primary-color: #ffe4e1; /* Light Pastel Pink */
  --secondary-color: #fff5f5; /* Very Light Pink */
  --text-color: #1d3557; /* Dark Blue */
  --hover-color: #ffb6c1; /* Light Pink */
  --font-family: "Quicksand", serif;
  --border-radius: 20px;
  --primary-color-dark: #ffb6c1; /* Light Pink */
  --primary-color-darker: #ff9999; /* Even Darker Pink */
  --caf-noir: #1d3557; /* Dark Blue */
  --text-dark: #1d3557; /* Dark Blue */
  --sage: #8abf8a; /* Soft Green */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure the body does not exceed the viewport width */
  /* Hadde problem med att det blev ett gap på sidan av sidan, så jag la till detta */
}

body {
  font-family: "Quicksand", serif;
  background-color: #f7bebe;
  background-image: url("../Images/star-ocacity-50.svg");
  background-size: 350px 171px;
  background-repeat: repeat;
  background-blend-mode: multiply;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
header h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

/* Navigation Styling */
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 8%;
  background-color: var(--primary-color);
  border-radius: 20px;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
nav ul li {
  display: inline-block;
  margin: 10px 20px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
}
nav ul li a:hover {
  color: gray;
}
nav img {
  width: 1.2rem;
  height: 1.2rem;
}
nav img:hover {
  color: var(--primary-color-darker);
  transform: scale(1.1);
  transition: all 0.3s;
}

/* Container */
.container {
  width: 80%;
  margin: 0 auto;
}

/* About Section */
.about h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 0;
  background-color: var(--secondary-color);
  border-radius: 50px;
  margin-bottom: 50px;
}
.about-image {
  flex: 1;
  text-align: center;
  padding-left: 30px;
}
.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.about-text-block {
  flex: 2;
  max-width: 800px;
  padding-left: 2rem;
}
.social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.25rem;
  padding-top: 1em;
}

/* Skills Section */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background-color: var(--secondary-color);
  border-radius: 50px;
  margin-top: 50xp;
}
.skills img {
  display: block; /* Remove default inline-block */
  width: 100px;
  height: 100px;
  margin: 1rem;

  transition: all 0.3s;
}
.skills img:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  list-style: none;
}

/* Portfolio Section */
.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background-color: var(--secondary-color);
  margin-top: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding: 0;
  list-style: none;
}
.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
}
.project-info {
  text-align: center;
}
.portfolio h3 {
  font-size: 2em;
}

/* Referens Section */
.referens {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
/* Footer */
footer {
  text-align: center;
  padding: 1rem 0;
}

/* Button Styling */
.button-project {
  color: #090909;
  margin-top: 1em;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  margin: 10px;
}

.button-project:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

/* Weather Section */
.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  width: 200px;
  margin-top: 40px;
}

/* Contact Form Styling */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  margin: 30px auto;
  width: 70%;
  background-color: var(--secondary-color);
  border-radius: 20px;
}

.contact {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.contact-container h2 {
  font-size: 2rem;
  color: var(--text-dark);
  margin-bottom: px;
}
.contact-container p {
  color: var(--text-dark);
  margin-bottom: 20px;
}

/* Form Group Styling */
.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  max-width: 800px;
  margin: 0 auto;
}
.form-group-column {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1 1 calc(50% - 20px);
}

.form-group label {
  font-size: 1rem;
  color: var(--text-dark);
  width: 100%;
}

.form-group input,
.form-group textarea {
  padding: 1em;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form-group textarea {
  flex: 1 1 100%;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--sage);
  outline: none;
}

/* Button Styling */
.btn-primary {
  background-color: var(--primary-color-dark);
  color: white;
  padding: 0.75em 1.5em;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1.5em;
}

.btn-primary:hover {
  background-color: var(--primary-color);
}

.btn-primary:active {
  background-color: var(--primary-color-darker);
}

/* Thank You Message Styling */
#thank-you-message {
  display: none;
  margin-top: 20px;
  font-size: 2rem;
  color: var(--text-dark);
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  nav {
    flex-wrap: wrap;
    justify-content: center;
  }
  nav ul li a {
    font-size: 16px;
  }
  .project-box {
    flex: 1 1 calc(70% - 20px);
    max-width: calc(70% - 20px);
  }
  .contact-container {
    width: 95%;
    padding: 30px 15px;
  }

  .form-group {
    flex-direction: column;
  }

  .form-group input,
  .form-group textarea {
    flex: 1 1 100%;
  }
}

/* Small screens, mobile devices (max-width: 600px) */
@media (max-width: 768px) {
  .weather {
    width: 100%;
  }
  .container {
    width: 95%;
    margin: 0 auto;
  }
  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    border-radius: 50px;
    top: auto;
  }
  nav ul li a {
    font-size: 12px;
  }
  .header {
    text-align: center;
    height: 55vh;
  }
  .header h1 {
    font-size: 2rem;
  }
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-image {
    padding: 1rem;
  }
  .about-text-block {
    padding: 1rem;
  }
  .about h2 {
    font-size: 1.5rem;
    align-items: center;
  }
  .project-box {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
  .contact-container {
    width: 100%;
    padding: 20px 10px;
  }

  .form-group {
    flex-direction: column;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
  }
}
