@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  /*outline: 1px solid red;  /* Visar ramar för alla element */
}

:root {
  --primary-color: #ffd0ca;
  --secondary-color: #fcf4f4;
  --background-color: #f5eaea;
  --text-color: #292e35;
  --hover-color: #ffb6c1;
  --font-family: "Quicksand", serif;
  --primary-color-dark: #ff9aa4;
  --primary-color-darker: #ff7f8e;
  --sage: #8abf8a;

  --h1-color: #ffffff;
  --h2-color: #161616;
  --p-color: #292e35;
}

.dark-mode {
  --primary-color: #3a3a3a;
  --secondary-color: #2a2a2a;
  --background-color: #1e1e1e;
  --text-color: #f5f5f5;
  --hover-color: #ff9999;
  --primary-color-dark: #4a4a4a;
  --primary-color-darker: #b85d68;
  --sage: #6aa86a;

  --h1-color: #ff9999;
  --h2-color: #88c98a;
  --p-color: #f5f5f5;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure the body does not exceed the viewport width */
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  scroll-behavior: smooth;
}
h1 {
  color: var(--h1-color);
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  color: var(--h2-color);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

p {
  color: var(--p-color);
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 12px 0;
}

/* Dark Mode Button Styling */
.dark-light-mode {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  font-size: 1.7rem;
  overflow: hidden;
  background: none;
  margin: 0;
}

.dark-light-mode button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--text-color);
  transition: color 0.3s;
}

.dark-light-mode button:hover {
  color: var(--hover-color);
}

/* Navigation Styling */
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 8%;
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
}

nav img {
  width: 1.2rem;
  height: 1.2rem;
}

nav img:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

/* Header Styling */
.hero {
  background: var(--primary-color);
  color: var(--text-color);
  padding-bottom: 2rem;
  padding: 3rem 2rem;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--h1-color);
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--p-color);
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cta-btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: var(--secondary-color);
  background-color: var(--primary-color-darker);
  border: none;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-btn:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

/* Divider header*/
.header-divider {
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.header-divider svg {
  position: relative;
  display: block;
  width: calc(120% + 1.3px);
  height: 157px;
  transform: rotateY(180deg);
}

.shape-fill {
  fill: var(--primary-color);
}

/* Container */
.container {
  width: 80%;
  margin: 0 auto;
}

/* About Section */
.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3rem 2rem;
  background-color: var(--secondary-color);
  border-radius: 20px;
  margin-bottom: 5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--h2-color);
}

.about-image {
  flex: 1;
  text-align: center;
  padding-left: 30px;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 4px solid var(--primary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.about-text-block {
  flex: 2;
  max-width: 750px;
  padding-left: 2rem;
}

.about-text-block p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 12px;
  color: var(--p-color);
}

.social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 2em;
}

.social-link {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--text-color);
  border: 2px solid #333;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.social-link:hover {
  background-color: #333;
  color: var(--secondary-color);
}

/* Skills Section */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background-color: var(--secondary-color);
  border-radius: 20px;
  margin-bottom: 5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.skills img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 1rem;
  transition: all 0.3s;
}

.skills img:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  list-style: none;
}

/* Portfolio Section */
.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background-color: var(--secondary-color);
  border-radius: 20px;
  margin-bottom: 5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding: 0;
  list-style: none;
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: var(--secondary-color);
}

.project-info {
  text-align: center;
}

.portfolio h3 {
  font-size: 2rem;
}

/* Referens Section */
.referens {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

/* Button Styling */
.button-project {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: var(--secondary-color);
  background-color: var(--primary-color-darker);
  border: none;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 0.5rem;
}

.button-project:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

.button-project:active {
  background-color: var(--primary-color-dark);
}

/* Weather Section */
.weather {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
  border-radius: 20px;
  width: 200px;
  margin: 20px auto;
}

/* Contact Form Styling */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  margin: 30px auto;
  background-color: var(--secondary-color);
  border-radius: 25px;
  margin-bottom: 100px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contact {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.contact-container h2 {
  font-size: 2rem;
  color: var(--text-dark);
  margin-bottom: 20px;
}

.contact-container p {
  color: var(--text-dark);
  margin-bottom: 20px;
}

/* Form Group Styling */
.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  max-width: 800px;
  margin: 0 auto;
}

.form-group-column {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1 1 calc(50% - 20px);
}

.form-group label {
  font-size: 1rem;
  color: var(--text-dark);
  width: 100%;
}

.form-group input,
.form-group textarea {
  padding: 1em;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form-group textarea {
  flex: 1 1 100%;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--sage);
  outline: none;
}

/* Button Styling */
.btn-primary {
  background-color: var(--primary-color-dark);
  color: var(--secondary-color);
  padding: 0.75em 1.5em;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1.5em;
}

.btn-primary:hover {
  background-color: var(--primary-color);
}

.btn-primary:active {
  background-color: var(--primary-color-darker);
}

/* Thank You Message Styling */
#thank-you-message {
  display: none;
  margin-top: 20px;
  font-size: 2rem;
  color: var(--text-dark);
}

/* Footer */
.footer-content {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding-bottom: 6rem;
  padding-top: 2rem;
}

.footer-links {
  margin-top: 1rem;
}

.footer-links a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: var(--hover-color);
}

.social-media {
  margin-top: 1rem;
}

.social-media a {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s;
}

.social-media a img {
  width: 30px;
  height: 30px;
}

.social-media a:hover {
  transform: scale(1.2);
}

.footer-legal a:hover {
  color: var(--hover-color);
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul li a {
    font-size: 1rem;
  }

  .project-box {
    flex: 1 1 calc(70% - 20px);
    max-width: calc(70% - 20px);
  }

  .contact-container {
    width: 95%;
    padding: 30px 15px;
  }

  .form-group {
    flex-direction: column;
  }

  .form-group input,
  .form-group textarea {
    flex: 1 1 100%;
  }
}

@media (max-width: 1100px) {
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-divider svg {
    height: 80px;
  }
}

/* Small screens, mobile devices (max-width: 600px) */
@media (max-width: 768px) {
  .weather {
    width: 100%;
  }

  .container {
    width: 95%;
    margin: 0 auto;
  }

  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    border-radius: 50px;
    top: auto;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.219);
    margin-bottom: 5px;
  }

  nav ul li a {
    font-size: 0.75rem; /* 12px */
  }

  .hero-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .hero-content p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-image {
    padding: 1rem;
  }

  .about-text-block {
    padding: 1rem;
  }

  .about h2 {
    font-size: 1.5rem;
    align-items: center;
  }

  .project-box {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  .contact-container {
    width: 100%;
    padding: 20px 10px;
  }

  .form-group {
    flex-direction: column;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
  }
}
